html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
}

main {
    background: url(images/background.svg);
    width: 375px;
    height: 812px;
}

#link-insta{
    /* color: lightgrey; */
    text-decoration: none;
}
